<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vopros</title>
</head>
<body>
<p th:text="${'id: ' + vopros.getId()}">VALUE</p>
<p th:text="${'theme: ' + vopros.getTheme()}">VALUE</p>
<p th:text="${'count: ' + vopros.getCount()}">VALUE</p>
<p th:text="${'Otvety: ' + vopros.getOtvety()}">VALUE</p>
<a th:href="@{/voprosy/{id}/edit(id=${vopros.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/voprosy/{id}(id=${vopros.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>