<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vse voprosy</title>
</head>
<body>
<div th:each="vopros : ${voprosy}">
    <a th:href="@{/voprosy/{id}(id=${vopros.getId()})}" th:text="${'id: ' + vopros.getId}">vopros</a>
    <br/>
    <a th:href="@{/voprosy/{id}(id=${vopros.getId()})}" th:text="${'theme: ' + vopros.getTheme}">vopros</a>
    <br/>
    <a th:href="@{/voprosy/{id}(id=${vopros.getId()})}" th:text="${'count: ' + vopros.getCount}">vopros</a>
    <br/>
    <a th:href="@{/voprosy/{id}(id=${vopros.getId()})}" th:text="${'otvety: ' + vopros.getOtvety}">vopros</a>
    <br/>
    <p/>
    </div>
</div>
<br/>
<hr/>
<a href="/voprosy/new">Create new vopros</a>
</body>
</html>